# Development-specific files
/.deploy.env
/.editorconfig
/.eslintrc.js
/.eslintcache
/.eslintignore
/.gitattributes
/.gitignore
/.travis.yml
/yarn.lock
/scripts/

# Exclude all directories named "tests" as it's used only for tests. This is
# intentionally not prefixed with a `/` because it applies to both the root and
# subdirectories.
tests/

